[submodule "roles/vscode"]
	path = roles/vscode
	url = https://github.com/cleary/ansible-tidalcycles-editor-vscode.git
[submodule "roles/tidal"]
	path = roles/tidal
	url = https://github.com/cleary/ansible-tidalcycles-base.git
[submodule "roles/atom"]
	path = roles/atom
	url = https://github.com/cleary/ansible-tidalcycles-editor-atom.git
[submodule "roles/vim"]
	path = roles/vim
	url = https://github.com/cleary/ansible-tidalcycles-editor-vim.git
[submodule "roles/feedforward"]
	path = roles/feedforward
	url = https://github.com/cleary/ansible-tidalcycles-editor-feedforward.git
[submodule "roles/neovim"]
	path = roles/neovim
	url = https://github.com/cleary/ansible-tidalcycles-editor-neovim.git
[submodule "roles/ugens-mi"]
	path = roles/ugens-mi
	url = https://github.com/cleary/ansible-tidalcycles-synth-mi-ugens.git
