[submodule "roles/vscode"]
	path = roles/vscode
	url = https://github.com/cleary/ansible-tidalcycles-editor-vscode.git
[submodule "roles/tidal"]
	path = roles/tidal
	url = https://github.com/cleary/ansible-tidalcycles-base.git
[submodule "roles/vim"]
	path = roles/vim
	url = https://github.com/cleary/ansible-tidalcycles-editor-vim.git
[submodule "roles/feedforward"]
	path = roles/feedforward
	url = https://github.com/cleary/ansible-tidalcycles-editor-feedforward.git
[submodule "roles/neovim"]
	path = roles/neovim
	url = https://github.com/cleary/ansible-tidalcycles-editor-neovim.git
[submodule "roles/ugens-mutable-instruments"]
	path = roles/ugens-mutable-instruments
	url = https://github.com/cleary/ansible-tidalcycles-synth-mi-ugens.git
[submodule "roles/text_management"]
	path = roles/text_management
	url = https://github.com/cleary/ansible-tidalcycles-editor-text_management.git
[submodule "roles/emacs"]
	path = roles/emacs
	url = https://github.com/cleary/ansible-tidalcycles-editor-emacs.git
