---

- block:
  - name: update cabal
    shell: cabal update  
    register: cabup
    changed_when: "not cabup.stdout|search('Skipping download: local and remote files match.')"
  
  
  - name: compile and install tidal
    shell: cabal install tidal
    register: tidin
    changed_when: "not tidin.stdout|search('All the requested packages are already installed:')"
  
  - name: check if tidalcycles atom plugin is installed
    shell: apm list -i
    register: tidatin
    changed_when: "not tidatin.stdout|search('tidalcycles')"
  
  - name: install tidalcycles atom plugin
    shell: apm install tidalcycles
    when: "not tidatin.stdout|search('tidalcycles')"
  become: yes
  become_method: su
  become_user: "{{ansible_env.SUDO_USER}}"
  become_flags: '-s /bin/bash'
